.editor :global(.grommetux-table) td {
  padding: 0 !important;
}

.elo input {
  width: 100%;
  border: none !important;
}

.addPlayer {
  width: 100%;
}

.eloMeter :global(.grommetux-meter__graphic) {
  width: 100% !important;
}

.who {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.whoLabel {
  padding: 0 !important;
  margin: 0 !important;
  flex-grow: 1;
}

td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.vs {
  font-weight: bold;
  text-align: center;
}

.flamboyantError {
  background-color: #32407d;
  font-size: 10pt !important;
  text-align: center;
  font-family: 'courier new', 'monospace';
  font-weight: bold;
  color: white;
  padding: 1em;
  border: 4px solid #cc9;
  height: 121px;
  width: 534px;
}

.flagrantError {
  background-color: #455fd8;
  font-size: 10pt !important;
  text-align: center;
  font-family: 'courier new', 'monospace';
  font-weight: bold;
  color: white;
  padding: 1em;
  border: 4px solid #cc9;
  height: 121px;
  width: 534px;
}

.fakeFlagrantError {
  background-color: #0000dc;
  font-size: 10pt !important;
  text-align: center;
  font-family: 'courier new', 'monospace';
  font-weight: bold;
  color: white;
  padding: 1em;
  border: 4px solid #e2e2e2;
  width: 534px;
}

.ohChild {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  background: #CCC; color: black;
  font-size: 10pt;
  text-align: center;
  line-height: 125%;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.tsondDialog {
  margin: 0 auto;
  border: 1px solid black;
  height: 100px;
  width: 248px;
}

.tsond {
  background: #06bfad;
  padding: 30px;
  width: 327px;
  margin: 0;
  border: none;
}

.p0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
