.editor :global(.grommetux-table) td {
  padding: 0 !important;
}

.elo input {
  width: 100%;
  border: none !important;
}

.addPlayer {
}

.eloMeter :global(.grommetux-meter__graphic) {
  width: 100% !important;
}

.who {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.whoLabel {
  padding: 0 !important;
  margin: 0 !important;
  flex-grow: 1;
}

td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.vs {
  font-weight: bold;
  text-align: center;
}

.p0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.waiting {
  background-color: rgba(255,0,0,0.2) !important;
}

.failed {
  background-color: red !important;
}


