
.table > :global(.grommetux-table__table) {
}

.table :global(.grommetux-table) td {
  padding: 0 !important;
}

.table input {
  width: 100%;
}

.eloMeter :global(.grommetux-meter__graphic) {
  width: 100% !important;
}

.eloEditor {
  border: 0 !important;
  padding: 10px 22px !important;
}

.who {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.whoLabel {
  padding: 0 !important;
  margin: 0 !important;
  flex-grow: 1;
}

td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.vs {
  font-weight: bold;
  text-align: center;
}
