.search :global(.grommetux-search-input__input) {
  width: 100%;
}

.input {
  width: 100%;
}

.quick {
  width: 100%;
}

.label {
  font-weight: 100;
}

.panel {
  padding: 0 1em;
}

.panelHeader {
  margin-top: 24px;
  margin-bottom: 6px;
}

.help {
  font-size: 0.7em !important;
  padding: 0 !important;
  margin: 0.5em 0 !important;
  white-space: pre-wrap;
}
